<main>
  <div class="container">
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Librería de apto</h1>
          <p class="lead text-muted">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia
            accusamus cupiditate quod illum velit quae distinctio excepturi nemo
            rerum corrupti et suscipit, aspernatur aliquid necessitatibus neque
            sed asperiores sapiente illo, animi itaque at expedita autem. Quas
            quam modi exercitationem et quos, eligendi, aspernatur doloremque
            pariatur, voluptas ut repellendus hic ipsa?
          </p>
          <p>
            <a href="/auth/login" class="btn btn-primary my-2">Login</a>
          </p>
        </div>
      </div>
    </section>
  </div>
</main>