<form action="/auth/signup" method="post">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input
      type="email"
      name="email"
      id="email"
      class="form-control"
      aria-describedby="emailHelp"
      required
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      id="password"
      name="password"
      type="password"
      class="form-control"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>